
body{
    font-family:'Courier New', Courier, monospace;
    /*font-family: 'Arial', Helvetica, sans-serif;*/
    font-size: 11pt;
}

.main-content{
    position: relative;

}

form {
    position: fixed;
    margin-top: 6px;
}

input.button{
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    /*font-family: 'Arial', Helvetica, sans-serif;*/
    font-size: 11pt;
    background: lightblue;
}

.table{
   position: absolute;
    left: 300px;
    top: 0px;

}

.field {
    width: 399px;
    border: 1px solid black;
    text-align: center;
    margin-top: 6px;
}

.name{
    width: 199px;
    border: 1px solid black;
    text-align: center;
    margin:0px;
    display: inline-block;
    border-right: 0px;
    border-top: 0px;
}

.value{
    width: 199px;
    border: 1px solid black;
    text-align: center;
    margin:0px;
    float:right;
    display:inline-block;
    border-top: 0px;
}