
body{
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 11pt;
}

.main-content{
    position: relative;
}

form {
    position: fixed;
    margin-top: 0px;
    align: left;
}

button{
    margin: 10px;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 11pt;
    background: lightblue;
}

.table{
   position: absolute;
    left: 300px;
    top: 0px;
    margin-bottom: 18px;
}

.table-header, .table-header-form{
    text-align: center;
    font-size:14pt;
    color: #566C73;
}

.table-header-form{
    margin-bottom: 3px;
    text-align: left;
}

.field-table{
    border: 1px solid black;
    border-top: none;
}

fieldset{
    margin:-1px 0px;
    padding:3px;
    border:1px solid black;
    width:180px
}

.field-to-filter-name:nth-child(even){
    background: #E6F3F8;
}

.field {
    width: 401px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 6px;
    background: lightblue;
}


.names-and-values:nth-child(even){
    background: #E6F3F8;
}

.names-and-values:nth-child(odd){
    background: white;
}

.name, .value{
    width: 199px;
    text-align: center;
    margin:0px;
    display: inline-block;
    border-right: 0px black;
    border-top: none;
    border-bottom: none;

}

.value{
    float:right;
    border-left: 1px solid black;
}