<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">

    <script type="text/javascript" src="../../ozone.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <title></title>
</head>
<body ng-app="angularDemo" ng-controller = "DataController as data">

<ul ng-repeat ="field in data.fields">
    <li>
        {{data.displayField(field)}}
        <ul ng-repeat="occurance in field.valueList">
            <li >
                {{occurance + ",  "}} {{data.occuranceValue(field,occurance)}}

            </li>
        </ul>

    </li>
</ul>

    <form name="filterForm" ng-controller="FilterController as filterCtrl" ng-submit="data.applyFilters()">
        <div ng-repeat="field in filterCtrl.proccessField(data.fields)" >
            <!--<input type="checkbox" ng-model="field.applied" name="field.id">-->
        </div>
        <input type="submit"  value="filter" />
    </form>

<b>{{data.db.size}}</b>



</body>
</html>