<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">

    <script type="text/javascript" src="../../ozone.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <title></title>
</head>
<body ng-app="angularDemo" ng-controller = "DataController as data">

<form name="filterForm"  ng-submit="data.updateFilters()">
    <div ng-repeat="filter in choiceFilters">
        <fieldset style= "margin:-1px 0px; padding:3px; border:1px solid black; width:180px" >
            <input type="checkbox"
                   ng-model="filter.applied">
            {{filter.name}}
            <br>
            <select ng-model="filter.sValue"
                    ng-options="values for values in filter.values"
                    ng-show="filter.applied">
                <option ng-hide="filter.sValue!==''" value>Select a {{filter.name}}</option>
            </select>
        </fieldset>
    </div>
    <button ng-disabled="data.cantSubmit()"  ng-click="data.updateFilters()" >Filter</button>
</form>

<ul ng-repeat ="field in fields">
    <li>
        {{data.displayField(field)}}
        <ul ng-repeat="occurance in field.valueList">
            <li ng-show="data.occuranceValue(field,occurance)" >
                {{occurance + ",  "}} {{data.occuranceValue(field,occurance)}}

            </li>
        </ul>

    </li>
</ul>




</body>
</html>